<html>
    <head>
        <style>  
            body  
            {  
            background-image:url("https://wallpapercave.com/wp/1rSfAVC.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;  
            }  
            </style>  
            </head>
    <body>
        <center>
        <h1>Welcome to Flower Shop</h1>
        <h1>
        <a href="/flower">Click Here To Add Flowers</a>
        </h1>
    </center>
    </body>
</html>